BasedOnStyle: LLVM
Language:        Cpp
AlignAfterOpenBracket: Align
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: Never
  AfterEnum:       false
  AfterExternBlock: false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakStringLiterals: true
BreakTemplateDeclarations: MultiLine
ColumnLimit:     80
CompactNamespaces: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
IncludeBlocks:   Preserve
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true
IndentPPDirectives: None
IndentRequiresClause: true
IndentWidth:     4
IndentWrappedFunctionNames: true
InsertBraces:    true
InsertNewlineAtEOF: true
LambdaBodyIndentation: Signature
LineEnding:      DeriveLF
MainIncludeChar: Quote
SortIncludes:    CaseSensitive
SpacesInSquareBrackets: false
Standard:        Latest
TabWidth:        4
UseTab:          Never
